.list-card-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.list-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 100px;
}
