*{
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  display: flex;
  flex-direction:row;
  justify-content: baseline;
  align-content:space-around;
  width: 100%;
  margin:30px auto 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #ffff;
}

@media only screen and (min-width: 768px) {
  .header-container {
    align-content: center;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.header-logo {
  align-self: center;
}

.header-logo img {
  align-self: center;
  width: 70%;
  margin:10px
}
@media only screen and (min-width: 768px) {
  .header-logo img {
    align-self: baseline;
    width: 30%;
  }
}

.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:10px;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    display:inline;
    align-self: center;
    vertical-align: middle;
    margin:0px;
  }
}

.header-nav button {
  border: 0;
  padding: 10px;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  color: #000;
}
/* .header-nav a {
  color: black;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-bottom: 5px solid #dddddd;
} */

.header-nav span {
  color: black;
  padding: 5px;
  margin: 5px;
}

.header-nav button:hover {
  background-color: #f7b718;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}
/* .header-nav a:hover {
  border-bottom: 5px solid #f7b718;
} */

.nav-icon-logout{
  display:none
}
@media only screen and (min-width: 768px) {
  .nav-icon-logout{
    display: inline;
    vertical-align: middle;
    padding: 0 5px 0 0;

  }
}